<div class="body">
    <div class="container">
        <h2>Welcome to our Email</h2>
        <h1>Sign Up Now</h1>
    
        <form action="" id="join-us">
            <div class="fields">
                <span>
                    <input placeholder="Username" type="text" id="username"/>
                </span>
                <br />
                <span>
                    <input placeholder="email" type="text" id="email"/>
                </span>
                <br />
                <span>
                    <input placeholder="Password" type="password" id="password"/>
                </span>
            </div>
            <div class="submit">
                <input class="submit" value="Create" type="button" (click)="signUp()"/>
            </div>
        </form>
    </div>
</div>
