<div class="body">
    <div class="container">
        <h2>Welcome to our Email</h2>
        <h1>Sign In Now</h1>
    
        <form action="" id="join-us">
            <div class="fields">
                <span>
                    <input placeholder="Username" type="text" id="username"/>
                </span>
                <br />
                <span>
                    <input placeholder="Password" type="password" id="password"/>
                </span>
            </div>
            <div class="submit">
                <input class="submit" value="Sign-in" type="button" (click)="signIn()">
                <input class="submit" value="Sign-up" type="button" routerLink="/sign-up"/>
            </div>
        </form>
    </div>
</div>